.recentActivityContainer {
  margin-top: 20px;
}
.recentActivityTitle {
  margin-bottom: 10px;
}
.recentActivity {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
